* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://fastly.picsum.photos/id/377/1600/900.jpg?hmac=fMnpK7T6xJpwVPlxS3_UFobjlcD_jSBvrci-kAbVeIo");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.buttons {
    margin: 30px 0px;
    display: flex;
    gap: 40px;
    
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#Pedra {
    background-color: #556B2F;
}

#Papel {
    background-color: #BDB76B;
}

#Tesoura {
    background-color: #A9A9A9;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span {
    color: rgb(5, 5, 202);
}

.machine-score span {
    color: rgb(255, 2, 2);
}

.button-refresh {
    font-size: 20px;
    background-color: black;
    color: aliceblue;
    margin-top: 15px;
}